body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

p {
  max-width: 640px;
  line-height: 1.35;
}

a:link, a:visited {
  color: #3b74bd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}