<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="application/atom+xml" rel="alternate" href="works.xml" title="Juan Snyman's Works and Projects">
    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
    <script src="/assets/bundle.js"></script>
    {% include social-meta.html %}
  </head>
  <body>

    <div class="site-wrapper">

      <main>
        {{ content }}
      </main>

      <!-- <footer class="site-footer">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/screenings">Screenings</a></li>
            <li><a href="/registration/new">Newsletter</a></li>
            <li><a href="https://www.facebook.com/surreyfilmsoc/" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/surreyfilmsoc/" target="_blank">Instagram</a></li>
            <li><a href="/legal">Legal</a></li>
          </ul>
        </nav>
      </footer> -->
      
    </div>

  </body>
</html>